<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;" *ngFor="let p of produtos">
        <img src="{{p.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{p.nome}}</h5>
          <h4 class="card-title">{{p.valor |currency : 'BRL'}}</h4>
          <p class="card-text">{{p.descricao}}</p>
          <a href="#" class="btn btn-primary bg-danger bg-gradient d-flex justify-content-center text-center" (click)="Comprar()">Compre Agora</a>
        </div>
    </div>
</div>
